.montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.montserrat-alternates-medium {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.montserrat-alternates-semibold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h1 {
    font-family: "Montserrat Alternates", sans-serif;
    margin-top: 50px;
    text-align: center;
}

h1 a { /*link for home page*/
    color: black;
    text-decoration: none; 
}

h1 a:hover { /*link for home page*/
    color:#F3C969;
}

.pageLinks { /* creating flexbox for navigation */
    width: auto;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    background-color: black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-family: "Montserrat Alternates", sans-serif;
}

.pageLinks a { /* links to each pattern art*/
    color: white;
    text-decoration: none;
}

.pageLinks a:hover { /* links to each pattern art*/
    color: #F3C969;
}

h2 {
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}


